<h1>Welcome to our homepage, you can see here all our posts</h1>
<% @posts.each do |post| %>
  <div class="post">
    <h2><%= post.title %></h2>
    <p><%= post.body %></p>
    <p>Posted by: <%= post.user.username %></p>
  </div>
<% end %>

<p><%= link_to 'New Post', new_post_path %></p>
